################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PizzaWorld/.vs/PizzaWorld
/.vs
/PizzaWorld/PizzaWorld/obj/Debug/netcoreapp2.1
/PizzaWorld/PizzaWorld/obj/Release/netcoreapp2.1
/PizzaWorld/PizzaWorld/bin/Debug/netcoreapp2.1
/PizzaWorld/PizzaWorld/bin/Release/netcoreapp2.1
/PizzaWorld/PizzaWorld/obj/
/PizzaWorld/PizzaBagare/obj/Debug/netcoreapp3.0
/PizzaWorld/PizzaBagare/obj/Release/netcoreapp3.0
/PizzaWorld/PizzaBagare/bin/Debug/netcoreapp3.0
/PizzaWorld/PizzaBagare/bin/Release/netcoreapp3.0
/PizzaWorld/PizzaBagare/obj/
!*.[Cc]ache/**
/PizzaWorld/UtlamningsTerminal/obj
/PizzaWorld/UtlamningsTerminal/bin/Debug/netcoreapp2.1
/PizzaWorld/UtcheckningsTerminal/obj
/PizzaWorld/UtlamningsTerminal/bin/Debug
/PizzaWorld/UtcheckningsTerminal/bin/Debug/netcoreapp3.0
/PizzaWorld/Utcheckning
/PizzaWorld/Utcheckningsterminal.zip
/PizzaWorld/Rapportmall.txt
/PizzaWorld/Menu.txt
/PizzaWorld/cTerminal.cs
