################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PizzaWorld/.vs/PizzaWorld
/.vs
/PizzaWorld/PizzaWorld/obj/Debug/netcoreapp2.1
/PizzaWorld/PizzaWorld/obj/Release/netcoreapp2.1
/PizzaWorld/PizzaWorld/obj
/PizzaWorld/PizzaWorld/bin/Debug/netcoreapp2.1
